
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

h1, h2 {
  color: darkblue;
}

/* ===== Pseudo Elements ===== */
p::first-letter {
  font-size: 30px;
  color: crimson;
}

p::selection {
  background-color: yellow;
  color: black;
}

/* ===== Lists ===== */
ul {
  list-style-type: square;
  background: #ddd;
  padding: 10px;
}

ol {
  list-style-type: upper-roman;
}

/* ===== Links & Pseudo Classes ===== */
a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

/* ===== Tables ===== */
table {
  border-collapse: collapse;
  width: 50%;
  background-color: white;
}

th {
  background-color: #333;
  color: white;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #cf69a100;
}
